## Methods to Inspect Data in Python

In [1]:
from IPython.display import VimeoVideo
# Tutorial Video Name: Inspect Data in Python
VimeoVideo('641242908', width=720, height=480)

https://vimeo.com/641242908

In [1]:
## import packages
import pandas as pd

In [2]:
## load data
data = pd.read_csv('../../../Data/BisonTracking.csv')

In [3]:
## first 5 rows
data.head()

  Collection/Population Locality SpecimenNumber  Genus   Species  Length
0                  12 Mile Creek         112916  Bison  antiquus       8
1                  12 Mile Creek         112917  Bison  antiquus       7
2                  12 Mile Creek         112918  Bison  antiquus       7
3                  12 Mile Creek         112919  Bison  antiquus       8
4                  12 Mile Creek         112921  Bison  antiquus       9

In [37]:
## last 17 rows
data.tail(17)

,Collection/Population Locality,SpecimenNumber,Genus,Species,Length
1090,Simonsen,AGOGINO #11,Bison,antiquus,9
1091,Simonsen,Agogino #11,Bison,antiquus,7
1092,Simonsen,ISU 31,Bison,antiquus,8
1093,Simonsen,ISUAL:10:31,Bison,antiquus,7
1094,Simonsen,SE37 #45/51,Bison,antiquus,9
1095,Simonsen,SE37 45/51,Bison,antiquus,8
1096,Simonsen,SEC. 8 E2 #bb,Bison,antiquus,9
1097,Simonsen,"SEC. 8, 30"", E2, #bb",Bison,antiquus,8
1098,Simonsen,SW15 #3,Bison,antiquus,8
1099,Simonsen,SW15 #3,Bison,antiquus,7
1100,Simonsen,SW37 #9,Bison,antiquus,9
1101,Simonsen,SW37 #9,Bison,antiquus,8
1102,Terapa,TERA 403,Bison,antiquus,7
1103,Terapa,TERA 404,Bison,antiquus,8
1104,Terapa,TERA 426,Bison,antiquus,9
1105,WICA,422F7A5179,Bison,bison,7
1106,WICA,AVID*074*597*636,Bison,bison,7

In [38]:
## columns
data.columns

Index(['Collection/Population Locality', 'SpecimenNumber', 'Genus', 'Species',
       'Length'],
      dtype='object')

In [39]:
## list of columns
list(data.columns)

['Collection/Population Locality',
 'SpecimenNumber',
 'Genus',
 'Species',
 'Length']

In [40]:
## shape of rows and columns
data.shape

(1107, 5)

In [41]:
## shape of only rows
data.shape[0]

1107

In [42]:
## unique
data.Species.unique()

array(['antiquus', 'bison', 'occidentalis'], dtype=object)

In [45]:
## value counts
data.Species.value_counts()

antiquus        633
bison           435
occidentalis     39
Name: Species, dtype: int64

In [46]:
## information on dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1107 entries, 0 to 1106
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Collection/Population Locality  1107 non-null   object
 1   SpecimenNumber                  1107 non-null   object
 2   Genus                           1107 non-null   object
 3   Species                         1107 non-null   object
 4   Length                          1107 non-null   int64
dtypes: int64(1), object(4)
memory usage: 43.4+ KB

In [47]:
## descriptive summary stats
data.describe()

            Length
count  1107.000000
mean      7.981030
std       0.808299
min       7.000000
25%       7.000000
50%       8.000000
75%       9.000000
max       9.000000