# Comparison of Null, None and np.NaN in Python

* Null: Not a keyword in Python (often used in SQL and other languages)
* None: Internal Python type
* NaN: Numeric value defined as being "not a number"

## Comparison of usage in pandas

In [2]:
import numpy as np
import pandas as pd

In [17]:
data_dict = {
    'a': [1, 2, 3, 4, 5],
}

In [18]:
df = pd.DataFrame(data_dict)
df.head()

   a
0  1
1  2
2  3
3  4
4  5

In [19]:
df['a'][0] = None
df['a'][1] = np.NaN

In [20]:
df

     a
0  NaN
1  NaN
2  3.0
3  4.0
4  5.0

**Notice both values are stored as NaN in pandas**

In [21]:
df['a'].isnull().sum()

2

## Comparison of functions

In [22]:
def my_func(my_arg=None):
    if my_arg:
        print(f'Argument is set as: {my_arg}')
    else:
        print(f'Argument not found')

In [23]:
my_func()

Argument not found

In [24]:
my_func(my_arg=np.NaN)

Argument is set as: nan

**Notice None here represents a value that has not been set, whereas np.NaN is a set value that is not a number**

In [25]:
a = None
b = np.NaN

In [26]:
a == b

False