### This example of Lambda is designed to go along with DSO109 in Lesson 5

In [1]:
#### Lambda can be used to perform operations on a list of numbers

In [7]:
#### Import package

In [8]:
import math

### The example below is showing how lambda is being used to find the square root of the items listed in the List_of_Values.

In [9]:
List_of_Values= [4, 12, 24, 16, 32]
square_root= map(lambda x: math.sqrt(x), List_of_Values)
list(square_root)

[2.0, 3.4641016151377544, 4.898979485566356, 4.0, 5.656854249492381]

### For example, you have a list of all the sample size of rows of data that you want to find the degrees of freedom. Degrees of freedom = n-1 so use lambda to find the degrees of freedom:

In [11]:
Sample_Size_Values= [400, 205, 600, 450, 350]
n_subtract_1= map(lambda x: x-1, Sample_Size_Values)
list(n_subtract_1)

[399, 204, 599, 449, 349]

In [12]:
### Clearly it is easy to subtract one for degrees of freedom, just wanted to share a practical application for using lambda

### Creating a dataframe and using lambda to help fill one of the columns:

In [14]:
### Import pandas package

In [13]:
import pandas as pd

In [17]:
My_pets = pd.DataFrame({
    'Name': ['Moby', 'Sully', 'Ernie', 'Bert', 'Sampson'],
    'Pet Type': ['Dog', 'Bird', 'Fish', 'Fish', 'Llama'],
    'Year Born': [2011, 2002, 2015, 2015, 2012],
                 
})

In [21]:
### Now call My_pets just created above

In [20]:
My_pets

      Name Pet Type  Year Born
0     Moby      Dog       2011
1    Sully     Bird       2002
2    Ernie     Fish       2015
3     Bert     Fish       2015
4  Sampson    Llama       2012

In [23]:
### Use lambda to create an age column to this dataframe:

In [25]:
My_pets['Age']= My_pets['Year Born'].apply(lambda x: 2021-x)

In [26]:
### Call My_pets again to see the newly created Age column:

In [27]:
My_pets

      Name Pet Type  Year Born  Age
0     Moby      Dog       2011   10
1    Sully     Bird       2002   19
2    Ernie     Fish       2015    6
3     Bert     Fish       2015    6
4  Sampson    Llama       2012    9

In [28]:
### Now you see some practical ways that lambda can be used!

In [29]:
### Some of the examples above were made with reference to: https://towardsdatascience.com/lambda-functions-with-practical-examples-in-python-45934f3653a8

In [30]:
### Have fun exploring lambda functions!
### From, Mia Panos

### More coming soon!