## Variables

Sentence = "Have a great day!"
Sentence

In [1]:
Emily, John, Bella, Sarah, Steve = 22,21,32,45,44
Emily

22

In [2]:
Bella

32

In [4]:
Steve

44

In [6]:
sara = Bella = Kate = Thomas = 17
sara

17

In [7]:
Kate

17

In [8]:
name, age, height = "Emily", 22, "5'8"
name

'Emily'

In [9]:
age

22

In [11]:
height

"5'8"

## Placeholders in Strings

In [19]:
name = "Emily"

In [20]:
sent = "%s is 5'8"

In [21]:
sent%name

"Emily is 5'8"

In [23]:
sent%name

"Emily is 5'8"

In [24]:
sent = "%s is %d years old"

In [25]:
sent%("Emily", 30)

'Emily is 30 years old'

## Lists

In [1]:
shopList = ["Apples","Bananas","Cheese"]
shopList

['Apples', 'Bananas', 'Cheese']

In [3]:
shopList[0:2]

['Apples', 'Bananas']

array gives you the first two items-starting with the first item which is 0-Same below. Starting with 0 but giving you the first 3 items.

In [4]:
shopList[0:3]

['Apples', 'Bananas', 'Cheese']

Adding items to a list:

In [8]:
shopList.append("Blueberries")
shopList

['Cherries', 'Bananas', 'Cheese', 'Blueberries', 'Blueberries']

Changing an item in the list

In [6]:
shopList[0] = "Cherries"
shopList

['Cherries', 'Bananas', 'Cheese']

Delete items in the list:

In [9]:
del shopList[1]
shopList

['Cherries', 'Cheese', 'Blueberries', 'Blueberries']

How many items are your list: len function

In [11]:
len(shopList)

4

Combining lists:

In [13]:
shopList2 = ["Bread","Jam","Peanut Butter"]
shopList2

['Bread', 'Jam', 'Peanut Butter']

In [14]:
shopList + shopList2

['Cherries',
 'Cheese',
 'Blueberries',
 'Blueberries',
 'Bread',
 'Jam',
 'Peanut Butter']

Multiplying Lists:

In [16]:
shopList * 2

4

Other functions for lists:

In [17]:
listNum = [1,4,6,34,5]
max(listNum)

34

In [18]:
min(listNum)

1

Dictionaries

In [19]:
students = ["Tina", 23,"Jack", 28, "Sarah", 33]

Above is not the best way

This way is the most effective way to create a dictionary-Curly bracets create dictionaries. Square brackets call the Key.

In [23]:
students = {"Tina":23, "Jack":33, "Bob":26}
students

{'Tina': 23, 'Jack': 33, 'Bob': 26}

In [24]:
students["Tina"]

23

Updating a dictionary

In [26]:
students["Tina"] = 30
students

{'Tina': 30, 'Jack': 33, 'Bob': 26}

Removing keys out of your dictionary

In [27]:
del students["Tina"]
students

{'Jack': 33, 'Bob': 26}

You should not have multiply key values in a dictionary such as:

In [28]:
students  = {"Bob":12, "Bob":14,"Bob":16}

You use dictionasries when you have key values, such as names:ages...Anything that has a key value

## Tuples

You can't change, add or delete in Tuples. Once it is made it cannot be changed. Tuples are used with () and then you fill it with whatever this items you want.

In [31]:
tup =("Orange", "Apples","Kiwi")
tup

('Orange', 'Apples', 'Kiwi')

You can access your items in the tuple:

In [32]:
tup[0]

'Orange'

In [33]:
tup[1]

'Apples'

In [36]:
tup [1:3]

('Apples', 'Kiwi')

In [37]:
tup2 =(12,4)

In [38]:
tup2

(12, 4)

You can add multiple tuples together but you cannot modify. You can delete the entire tuple.

In [41]:
tup3 = tup + tup2
tup3

('Orange', 'Apples', 'Kiwi', 12, 4)

In [42]:
del tup3

Cheking the length of a tuple

In [44]:
len(tup)

3

In [45]:
tup =("Hi")
tup * 4

'HiHiHiHi'

You can cancatenate and multiply them

In [ ]:
tup + tup2 tup*3

## Conditional Statements

In [46]:
if (5>3):
    print("Hello")

Hello

In [47]:
if (3<2):
    print("Hello Again!")
    
else:
    print("This was not true")

This was not true

In [48]:
3>2

True

In [50]:
5<4

False

In [51]:
3==3

True

Not equal to operator

In [52]:
3!= 2

True

All of the operators you can use in condtional statements are:

In [ ]:
> < >= <= >= == !=

else statements:

In [53]:
age = 16

if (age < 13):
    print("You are young")
elif(age >= 13 and age < 18):
    print("You are a teenager")
else:
    print("You are an adult")

You are a teenager

In [7]:
if (5 > 2 and 6 > 3):
    print("Nice")
if (2<4 or 5==5):
    print("Good Job!")

Nice
Good Job!